.headline_and_image{
margin-top: 250px;
direction: rtl;
 }
.headline_and_image .container{
    padding: 0 20px;
 }
.headline_and_image_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_box{
    width: 40%;
    margin-top: 70px;
    margin-right: 50px;
}
.first_head{
font-family: "fawzy";
color: #0C00B5;
    font-size: 103px;
    transform: rotate(-7deg);
    font-weight: 400;
    z-index: -1;
    margin-right: 35px;
}
.ract_ibda3y_box{
   position: relative;
   margin-top: -20px;
   z-index: -5;
   width: fit-content;
   }
.ract_ibda3y_box::before{
position: absolute;
content: "الإبداعي";
font-family: "fawzy";
font-size: 92px;
color: #D7F0F2;
width: 100%;
height: 100%;
top: 14px;
right: 60px;
transform: rotate(-3deg);

   }
.span_rocket_box{
    position: absolute;
    top: -70px;
    left: -55px;
    z-index: 5;

}
.span_rocket_image{
    width: 188px;
    height: 166px;
}
.ract_ibda3y_frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    right: -10px;
    z-index: 1;

}

.bio{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    
}
.bio_span{
    font-size: 20px;
    color: #0618C4;
    font-weight: 600;
}
.contact_me{
text-decoration: none;
display: inline-block;
font-size: 20px;
font-weight: 800;
background-color: #0618C4;
color: #ffffff;
padding: 10px 40px;
border-radius: 78px;
margin-top: 30px;

}

.image_box{
    position: relative;
    margin-top: -30px;
    margin-left: 50px;

}
.circle{
    position: absolute;
    width: 112px;
    height: 112px;
    background-color: #0618C4;
    top: 135px;
    right: 0;
    border-radius: 50%;
    filter: drop-shadow(-5px 6px 0px #19127C);

}
.big_right_arrow{
    position: absolute;
    width: 37px;
    height: 54px;
    top: 166px;
    right: 20px;
     filter: drop-shadow(-7px 0px 0px #19127C);
}
.small_right_arrow{
    position: absolute;
    width: 29px;
    height: 37px;
    top: 174px;
    right: 58px;
     filter: drop-shadow(-7px 0px 0px #19127C);
}

.recta_with_name{
    position: absolute;
    width: 434px;
    height: 107px;
    bottom: 80px;
    right: -40px;
     filter: drop-shadow(-20px 25px 0px #0617C0);
}
.fawzy_name{
    position: absolute;
    font-weight: bold;
    font-size: 55px;
    color: #0618C4;
    bottom: 97px;
    right: 0px;
 }
.first_number{
    position: absolute;
    font-weight: bold;
    font-size: 31px;
    color: #0618C4;
    left: 0;
    top: 82px;
    direction: ltr;
 }
.second_number{
    position: absolute;
    font-size: 31px;
    color: #ffffff;
    left: 0;
    top: 50px;
    direction: ltr;
    -webkit-text-stroke: thin #94D1FF;
    font-weight: bold;
 }
.third_number{
    position: absolute;
    font-size: 31px;
    color: #ffffff;
    left: 0;
    top: 18px;
    direction: ltr;
    -webkit-text-stroke: thin #94d1ff88;
    font-weight: bold;
 }
.fourth_number{
    position: absolute;
    font-size: 31px;
    color: #ffffff;
    left: 0;
    top: -12px;
    direction: ltr;
    -webkit-text-stroke: thin #94d1ff4c;
    font-weight: bold;
 }

.first_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 13px;
    left: -15px;
    top: 140px;
    background-color: #0618C4;
    z-index: -1;
 }
.second_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 13px;
    left: -15px;
    top: 165px;
    background-color: #0618C4;
    z-index: -1;
 }
.third_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 13px;
    left: -15px;
    top: 190px;
    background-color: #0618C4;
    z-index: -1;
 }
.fourth_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 13px;
    left: -15px;
    top: 215px;
    background-color: #0618C4;
    z-index: -1;
 }
.fifth_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 13px;
    left: -15px;
    top: 240px;
    background-color: #0618C4;
    z-index: -1;
 }
.sixth_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 29px;
    left: -15px;
    top: 265px;
    background-color: #0618C4;
    z-index: -1;
 }
.seventh_bg_thin_lines{
    position: absolute;
    width: 310px;
    height: 53px;
    left: -15px;
    top: 305px;
    background-color: #0618C4;
    z-index: -1;
 }
 
.grid_pattern{
    position: absolute;
    width: 385px;
    height: 380px;
    top: 140px;
    right: -50px;
    background-color: transparent;
    background-image: linear-gradient(0deg, hsla(206, 100%, 79%, 0.6) 1px, transparent 1px),
                      linear-gradient(90deg, hsla(206, 100%, 79%, 0.6) 1px, transparent 1px);
    background-size: 28px 28px; 
    z-index: -1;
}
/* /////////////////////////////////// */
/* /////////////////////////////////// */
.views_number_section{
    margin-top: 400px;
    margin-bottom: 150px;
    position: relative;

}
.bg_container{
    width: 100%;
    height: 200px;
    background-color: #C9E8FF;

}
.views_number_section .container{
    width: 1200px;

}
.wave_box{
    position: relative;
 }
.wave{
 width: 100%; 
 position: absolute;
 top: -150px;
 }
.wave_2{
 width: 100%; 
 position: absolute;
 top: 0px;
 }

.right_star{
position: absolute;
right: 0;
top: -350px;
z-index: -1;
transform: rotate(28deg);

}

.right_star_rocket{
position: absolute;
right: 25px;
top: -200px;

 }

.left_star{
position: absolute;
left: 0;
top: -320px;
z-index: -1;
transform: rotate(-8deg);
}

.left_star_rocket{
position: absolute;
left: 25px;
top: -200px;
 }

.views_count{
position: absolute;
top: -170px;
left: 50%;
transform: translateX(-50%);
font-weight: bold;
font-size: 87px;
color: #0618C4;
filter: drop-shadow(0px 13px 0px #94D1FF);

}
@media screen and (max-width: 1100px){
    .views_count{
        font-size: 70px !important;
        }
}
.views_text{
position: absolute;
top: 80px;
left: 50%;
transform: translateX(-50%);
font-weight: bold;
font-size: 30px;
color: #2E3AAF;

}
@media screen and (max-width: 1100px){
    .views_text{
        font-size: 20px !important;
        }
}