/* ///////////////////////////////////////////////////////////////////////////////////// */
:root {
    --primary: #4361ee;
    --secondary: #3f37c9;
    --accent: #4895ef;
    --dark: #2b2d42;
    --light: #f8f9fa;
    --gray: #adb5bd;
    --success: #4cc9f0;
    --card-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    --sidebar-width: 280px;
    --transition: all 0.3s ease;
}

.content-header {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
}
.image_box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.image_box img{
    width: 450px;
}
.content_header_first{
  margin-top: 220px;
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */


      .float_menu_box {
        position: absolute;
        bottom: -70px;
        left: 30px;
        /* z-index: 1; */
        display: none;
      }

@media (max-width: 767px) {
      .float_menu_box {
        display: block;
      }
}



      /* Circle Button */
      .circle {
        position: relative;
        width: 40px;
        height: 38px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #0c00b52c;
        transition: all .3s;
        background: linear-gradient(130deg, #ffffff, #a6a2e2, #ffffff);
        background-size: 200% 100%;
        background-position: 100% 0;
        transition: background-position .3s;
        animation: gradientAnimation 1s infinite alternate;
      }

        @keyframes gradientAnimation {
        0% {
        background-position: 0% 0%;
        }
        100% {
        background-position: 100% 0%;
        }
        }

      .circle:hover{
          border: 1px solid #0c00b5b6;
      }
      .circle.active{
          border: 1px solid #0c00b5b6;
          background: #0c00b5;
      }

      /* Tornado Bars */
      .bar-container {
        position: relative;
      }

      .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 30px;
        border-radius: 50px;
        color: #0F00DB;
        transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5);
      }


      /* Active state */
      .circle.active .arrow {
        color: #ffffff;
      }

      /* Sub links */
.subs {
  position: absolute;
  top: 0;
  left: 50px;
  width: 247px; /* enough to contain all translated circles */
  height: 255px;
  pointer-events: none; /* so clicks pass to circles */
          /* left: 50%;
        transform: translateX(-50%); */
}
.subs.active {
        backdrop-filter: blur(3px) saturate(60%);
        -webkit-backdrop-filter: blur(15px) saturate(94%);
        background-color: #ffffff5b;
        border: 1px solid #0c00b52c;
        border-radius: 10px;

}

      .sub-circle {
        position: absolute;
        width: 200px;
        border-radius: 5px;
        color: #0c00b5;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.4s ease;
        text-decoration: none;
        backdrop-filter: blur(3px) saturate(60%);
        -webkit-backdrop-filter: blur(15px) saturate(94%);
        background-color: #ffffff5b;
        border: 2px solid #0c00b52c;
        border-radius: 40px;
        font-weight: 800;
      }
      .sub-circle:hover {
          border: 2px solid #0c00b560;
      }


      .float_menu_box.active .sub-circle {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
      }

      .float_menu_box.active .sub-circle:nth-child(1) {
        transform: translate(22px, 10px) scale(1);
        transition-delay: 0.1s;
        padding: 10px 13px;        

      }
      .float_menu_box.active .sub-circle:nth-child(2) {
        transform: translate(22px, 70px) scale(1);
        transition-delay: 0.2s;
        padding: 10px 13px;        

      }
      .float_menu_box.active .sub-circle:nth-child(3) {
        transform: translate(22px, 130px) scale(1);
        transition-delay: 0.3s;
        padding: 10px 13px;        

      }
      .float_menu_box.active .sub-circle:nth-child(4) {
        transform: translate(22px, 190px) scale(1);
        transition-delay: 0.4s;
        padding: 10px 13px;        

      }
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

.content-header h2 {
    font-size: 3rem;
    color: #0C00B5;
    margin-bottom: 0rem;
}


.content-header p {
    color: #686868;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
}

/* /////////////////////////////// */
@media (max-width: 767px) {
.image_box {
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.image_box img{
    width: 300px;
}

.content-header h2 {
    font-size: 2rem;
    color: #0C00B5;
    margin-bottom: -5px;
}
.content-header p {
    font-size: 1.1rem;
}
}

/* Cards Grid */
.cards-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    margin-top: 50px;
    padding: 0 40px;
    /* direction: rtl; */



}
/* @media (min-width: 1050px) and (max-width: 1475px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
    }
} */

@media (max-width: 1050px) {
    .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 60px;
    }  
}
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */
#Shorts{
    scroll-margin-top: 160px; 
}
#Youtube{
    scroll-margin-top: 160px;
}
#Collage{
    scroll-margin-top: 160px; 
}
#with_Ai{
    scroll-margin-top: 160px; 
}

.card {
    transition: var(--transition);
    transform: translateY(0);
    height: 517px;
    width: 300px;
    position: relative;
    
}
.card::before{
    position: absolute;
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%) scale(1);
    color: #ffffff;
    background-color: #0000009a;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;    
    z-index: 1;
    border: 2px solid #c9e8ffa1;
    border: 3px solid #c9e8ffa1;
    /*  */
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: none;
}

.card.hide-before::before {
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.7);
    filter: blur(2px);
}

/* Finally hide ::before fully */
.card.before-hidden::before {
    display: none;
    content: none;
}
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

.iframe_box{
    width: 100%;
    height: 100%;
    border: 10px solid #C9E8FF;
    background-color: #C9E8FF;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}
.video_thumbnail_image{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 42px;
    cursor: pointer;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 1;
    transform: scale(1);    
}


.video_thumbnail_image.disappear {
  opacity: 0;
  transform: scale(0.7);
  filter: blur(2px);
  pointer-events: none;
}




.iframe_box iframe{
    width: 100%;
    height: 100%;
    border-radius: 42px;
    /* display: none; */

}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 767px) {
    .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        transition: var(--transition);
        transform: translateY(0);
        height: 600px;
        width: 347px;
    }    
    .content_header_first{
      margin-top: 150px;
    }
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////// cards for youtube videos ////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
.cards-container_youtube {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(517px, 1fr));
    gap: 10px;
    row-gap: 50px;
    width: 100%;
    max-width: 1750px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    margin-top: 50px;
    padding: 0 40px;
    /* direction: rtl; */
}

.card_youtube {
    transition: var(--transition);
    transform: translateY(0);
    height: 300px;
    width: 517px;
    position: relative;
    
}
.card_youtube::before{
    position: absolute;
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%) scale(1);
    color: #ffffff;
    background-color: #0000009a;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;    
    z-index: 1;
    border: 2px solid #c9e8ffa1;
    border: 3px solid #c9e8ffa1;
    /*  */
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: none;
}

.card_youtube.hide-before::before {
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.7);
    filter: blur(2px);
}

/* Finally hide ::before fully */
.card_youtube.before-hidden::before {
    display: none;
    content: none;
}
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

.iframe_box_youtube{
    width: 100%;
    height: 100%;
    border: 10px solid #C9E8FF;
    background-color: #C9E8FF;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}
.video_thumbnail_image_youtube{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 42px;
    cursor: pointer;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 1;
    transform: scale(1);    
}


.video_thumbnail_image_youtube.disappear {
  opacity: 0;
  transform: scale(0.7);
  filter: blur(2px);
  pointer-events: none;
}




.iframe_box_youtube iframe{
    width: 100%;
    height: 100%;
    border-radius: 42px;
    /* display: none; */

}

.card_youtube:hover {
    transform: translateY(-5px);
}

@media (max-width: 1660px) {
    .cards-container_youtube {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px;
    row-gap: 50px;
    width: 100%;
    max-width: 1750px;
    }
    .card_youtube {
    height: 262px;
    width: 450px;
    }    
}
@media (max-width: 1465px) {
    .cards-container_youtube {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 12px;
    row-gap: 50px;
    width: 100%;
    max-width: 1750px;
    }
    .card_youtube {
    height: 235px;
    width: 400px;
    }    
}
@media (max-width: 1320px) {
    .cards-container_youtube {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 12px;
    row-gap: 50px;
    width: 100%;
    max-width: 1750px;
    }
    .card_youtube {
        height: 290px;
        width: 500px;
    }    
}
@media (max-width: 1110px) {
    .cards-container_youtube {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 12px;
    row-gap: 50px;
    width: 100%;
    max-width: 1750px;
    }
    .card_youtube {
    height: 235px;
    width: 400px;
    }    
}
@media (max-width: 910px) {
    .cards-container_youtube {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 7px;
    row-gap: 50px;
    width: 100%;
    max-width: 1750px;
    }
    .card_youtube {
        height: 205px;
        width: 350px;
    }    
}



@media (max-width: 800px) {
    .cards-container_youtube {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card_youtube {
        height: 290px;
        width: 500px;
    }    
}
@media (max-width: 550px) {
    .card_youtube {
        height: 245px;
        width: 420px;
    }    
}
@media (max-width: 450px) {
    .card_youtube {
        height: 216px;
        width: 370px;
    }    
}

/* //////////////////////////////  with_ai /////////////////////////////////// */
.with_ai{
    margin-bottom: 150px;
}

.with_ai_shorts{
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 100px;
    row-gap: 50px;
    padding: 0 10px;
}

@media (max-width: 1350px) {
    .with_ai_shorts {
    gap: 50px;
    row-gap: 50px;
    }
}
.Ai_card_shorts {
    transition: var(--transition);
    transform: translateY(0);
    height: 550px;
    width: 325px;
    position: relative;
    
}
.video_ai_shorts_box{
    width: 100%;
    height: 100%;
    border: 3px solid #C9E8FF;
    background-color: #C9E8FF;
    border-radius: 40px;
    overflow: hidden;
    position: relative;

}
.video_ai_shorts_box video{
    width: 100%;
    height: 100%;
    border: 10px solid #C9E8FF;
    background-color: #C9E8FF;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

/* //////////////////////////////////////////////////////////////// */
.with_ai_youtube{
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 0 10px;
}



.Ai_card_youtube {
    transition: var(--transition);
    transform: translateY(0);
    height: 258px;
    width: 440px;
    position: relative;
    
}

@media (max-width: 480px) {
.Ai_card_youtube {
    height: 248px;
    width: 420px;
    
}
}
@media (max-width: 460px) {
.Ai_card_youtube {
    height: 225px;
    width: 380px;
    
}
}
@media (max-width: 410px) {
.Ai_card_youtube {
    height: 205px;
    width: 340px;
    
}
}

.video_ai_youtube_box{
    width: 100%;
    height: 100%;
    border: 3px solid #C9E8FF;
    background-color: #C9E8FF;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.video_ai_youtube_box video{
    width: 100%;
    height: 100%;
    border: 10px solid #C9E8FF;
    background-color: #C9E8FF;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}